<h1>Login User</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :id %><br>
    <%= form.text_field :id %>
    <% user.errors.full_messages_for(:id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
